h1, p{

   
   text-align: center;
}

li:active{

    background-color:green;
    font-family: 'Courier New', Courier, monospace;
    list-style: none;
}
li:hover{

    background-color: blue;
    list-style: none;
    
}
