h1 { font-family: sans-serif;
        }
    .back{ background:red}
    p{font-size: 3em;}
    body {font-style: 16px;
    font-weight: bold;
font-style: italic;
line-height: 20px;
text-align: center;
text-decoration: underline;
color:blue;}
#amarelo{background-color:yellow;
color: blue;}
#vermelho{background-color: red;}
#marron{background-color: brown;}

